<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asc.msigeosystems.prism4dmockup">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.asc.msigeosystems.prism4d.MainPrism4DActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.asc.msigeosystems.prism4d.YGPS"
            android:label="@string/ygps_app_name" >
            <intent-filter>
                <action android:name="com.asc.msigeosystems.prism4d.YGPS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.asc.msigeosystems.prism4d.Prism4DGPSActivity"
            android:label="@string/gps_app_name" >
            <intent-filter>
                <action android:name="com.asc.msigeosystems.prism4d.Prism4DGPSActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
